<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.sfu.cmpt276.be.parentapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_parent_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_parent_app_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeParentApp">
        <activity
            android:name=".view.TaskEditActivity"
            android:exported="false" />
        <activity
            android:name=".view.TaskListActivity"
            android:exported="false" />
        <activity
            android:name=".view.FlipHistoryActivity"
            android:exported="false"
            android:label="History"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.TimeoutActivity"
            android:exported="false"
            android:label="@string/timeout"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.ChildListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.CoinFlipActivity"
            android:exported="false"
            android:label="Coin Flip"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BeParentApp.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.ChildEditActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="Parent App"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".controller.TimeoutService" />
        <service android:name=".controller.AlarmService" />
    </application>

</manifest>